@import '../Global'

.Wrapper {
  overflow: hidden
  overflow-y: scroll
  width: 100%

  > * {
    float: left
  }
}

.Article {
  width: 100%
  min-height: 100%
  padding: 0
  padding-top: r(15px)

  h1, h2, h3, h4, h5, h6 {
    cursor: pointer
  }

  @media media.xlarge, media.large {
    width: 60%
  }

  @media media.small, media.xsmall {
     padding-top: r(5px)
  }

  > * {
    padding: 0 r(15px)
  }

  p {
    margin: 1rem 0 // Probably the only time I'll want a top margin.
  }

  a {
    &:hover, &:focus, &:active {
      color: darken(colors.orange, 10%)
    }
  }

  ul, ol {
    font-size: r(20px);
    padding: 0;
    margin: 0 r(50px);
    margin-bottom: r(20px);
  }

  pre {
    padding: 0
    max-width: 100%
    overflow-x: auto
    background: colors.darkGray
    // transform: translateX(101%)
    // margin-bottom: -100%
  }

  .Edit-link {
    display: inline-block
    position: fixed
    bottom: r(50px)
    right: r(50px)
    background: colors.black
    color: colors.orange
    width: r(35px)
    height: @width
    border-radius: @height
    line-height: @height
    padding: 0
    font-size: r(12px)
    text-align: center

    @media (max-width: 769px) {
      position: static
      width: 100%
      border-radius: 0
    }
  }
}

.Sidebar {
  display: none
  width: 40%
  min-height: 100%
  background: colors.darkGray

  @media media.xlarge, media.large {
    display: block
  }
}

code {
  background: colors.darkGray
  color: #e6e1dc
  padding: r(5px)
  font-size: r(16px) !important // wtf normalize?

  &[class*="language"] {
    display: block
    width: 100%
    padding: r(15px) r(25px)
  }
}
