@import './Global'

html {
  height: 100%
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

body, #root {
  height: 100%
}

.App {
  display: flex
  flex-flow: row nowrap
  height: 100%


  #site-navigation {
    flex-basis: r(350px)
  }

  @media media.xsmall, media.small {
    flex-flow: column nowrap

    #site-navigation {
      flex-basis: auto
      width: 100%
      height: auto
      // max-height: r(150px)

      > ul {
        max-height: r(100px)
        overflow-y: scroll
      }
    }

    #main {
      height: auto
    }
  }
}
